body {
    background-image: url('https://t4.ftcdn.net/jpg/00/98/59/35/360_F_98593539_L3cNIqMZT511Qoz2DXe31xBAqMqPYdGj.jpg');
    background-size: cover; /* Adjust the background size as needed */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Fixed background */
    /* Additional background styles if needed */

  }
